@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
}

p{
  letter-spacing: 5px;
  text-align: center;
}
.ellipse {
  clip-path: ellipse(50% 32% at 50% 50%);
}